body, h1, div, p, input, button, #button2, #my_centered_buttons, h1, #quizButton1
#SunButton, #MerkuriusButton,#VenusButton,#JordenButton,#MarsButton,
#JupiterButton,#SaturnusButton,#UranusButton, #NeptunusButton, #PlutoButton{
    margin: 0;
    padding: 0;
}

#d1{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, html{
	height: 100%;
	width: 100%;
	/* background-image:url("../Images/Map2.png"); */
	background-color: bisque;
	background-repeat: no-repeat;
	background-position: 0 0;
	/* background-size: cover; */
}

h1{
	text-align: center;
	color: white;
}

#quizButton1{
background-color: aliceblue;	

}
#quizButton2{
background-color: aliceblue;	

}
#quizButton3{
	background-color: aliceblue;	
	
	}
body {
	
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

#my_centered_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 40px;
	width: 100px;
}
div{
    border: 3px salmon;
    width: 100%;
    margin: 5% auto;
}

p {
	font-size: 32px;
	text-align: center;
	width: 80%;
	color: white;
	font-weight: bold;
}

p.new_font {
	font-size: 18px;
	text-align: left;
	width: 100%;
	display: block;
	color: black;
}

input {
	font-size: 25px;
	text-align: center;
	width: 200px;
	margin: 20px 217px 20px 0px;

}

button {

    background-color:transparent;
    outline:none;
	display: inline-block;
	width: 25%;
	margin: 5px 0px 0px 0px;
	margin-left: 20%;
	padding: 8px 16px;
	text-align: center;
	font-size: 16px;
}

canvas{
	background: url("../Images/Mapresize.jpg");
	/* background-color: blue; */
}

#SolenInfo{
	visibility: hidden;
}

#MerkuriusInfo{
	visibility: hidden;
}

#VenusInfo{
	visibility: hidden;
}
#JordenInfo{
	visibility: hidden;
}
#ISSInfo{
	visibility: hidden;
}
#MarsInfo{
	visibility: hidden;
}
#JupiterInfo{
	visibility: hidden;
}
#SaturnusInfo{
	visibility: hidden;
}
#UranusInfo{
	visibility: hidden;
}
#NeptunusInfo{
	visibility: hidden;
}
#PlutoInfo{
	visibility: hidden;
}

#SolenButton {
    background-color: transparent;

    margin-top: -45px;
    margin-left: 26.5px;
    width: 250px;
    height: 250px;
	position: absolute;
	border-radius: 50%;
	border-color: magenta;
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */

}

#MerkuriusButton {
    background-color: transparent;

    margin-top: 81px;
    margin-left: 409.5px;
    width: 100px;
    height: 100px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(0, 255, 0);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}
#VenusButton {
    background-color: transparent;

	margin-top: 458px;
    margin-left: 151.5px;
    width: 165px;
    height: 165px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(217, 255, 0);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}

#JordenButton {
    background-color: transparent;
    margin-top: 396px;
    margin-left: 508px;
    width: 165px;
    height: 165px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(255, 153, 0);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}

#ISSButton {
    background-color: transparent;
	margin-top: 465px;
    margin-left: 688px;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(255, 153, 0);
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
	/* display: inline-block; */
}

#MarsButton {
    background-color: transparent;
	margin-top: 264px;
    margin-left: 767px;
    width: 120px;
    height: 120px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(4, 114, 0);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}


#JupiterButton {
    background-color: transparent;
	margin-top: 541px;
    margin-left: 858px;
    width: 240px;
    height: 240px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(0, 247, 255);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}


#SaturnusButton {
    background-color: transparent;
    margin-top: 91px;
    margin-left: 1094px;
    width: 190px;
    height: 190px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(0, 247, 255);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}


#UranusButton {
    background-color: transparent;
	margin-top: 382px;
    margin-left: 1338px;
    width: 150px;
    height: 150px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(0, 247, 255);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}

#NeptunusButton {
    background-color: transparent;
	margin-top: 91px;
    margin-left: 1514px;
    width: 150px;
    height: 150px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(5, 204, 95);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}

#PlutoButton {
    background-color: transparent;
	margin-top: 28px;
    margin-left: 1695px;
    width: 90px;
    height: 90px;
	position: absolute;
	border-radius: 50%;
	border-color: rgb(5, 204, 95);
	border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
	/* display: inline-block; */
}




/* 
document.onmousemove = function(e){
var x = e.pageX;
var y = e.pageY;
e.target.title = "X is "+x+" and Y is "+y;
};

för att kolla pixlar i debuggern

 */
