body, h1, div, p, input, button, #button2, #my_centered_buttons, h1, #quizButton1
#SunButton, #MerkuriusButton,#VenusButton,#JordenButton,#MarsButton,
#JupiterButton,#SaturnusButton,#UranusButton, #NeptunusButton, #PlutoButton{
    margin: 0;
    padding: 0;
}

#d1{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}



#pointcounters{
	position: absolute;
    z-index: 1;
    left: 900px;
    top: 390px;
    width: 100px;
    height: 20px;
    color: white;
}
#points{
	color: white;
}

#frågetext{
    position: absolute;
    visibility: hidden;
    /* z-index: 1; */
    left: 70px;
    top: 40px;

	color: white;
	font-size: 20px;
	width: 600px;
	/* padding-left: 70px; */
}

#planettext{
    position: absolute;
    visibility: hidden;
    z-index: 1;
    left: 20px;
    top: 470px;

	color: white;
	font-size: 18px;
	width: 600px;
}

body, html{
	height: 100%;
	width: 100%;
    background-image:url("../Images/spacebgfade.png");
    position: absolute;
    z-index: -1;
	background-color: bisque;
	background-position: 0 0;
	background-size: cover;
}

h1{
	text-align: center;
	color: white;
}

#quizButton1{
background-color: aliceblue;	

}
#quizButton2{
background-color: aliceblue;	

}
#quizButton3{
	background-color: aliceblue;	
	
	}
body {
	
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

#my_centered_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 40px;
	width: 100px;
}
div{
    border: 3px salmon;
    width: 100%;
    margin: 5% auto;
}

p {
	font-size: 32px;
	text-align: center;
	width: 80%;
	color: white;
	font-weight: bold;
}

p.new_font {
	font-size: 18px;
	text-align: left;
	width: 100%;
	display: block;
	color: black;
}

input {
	font-size: 25px;
	text-align: center;
	width: 200px;
	margin: 20px 217px 20px 0px;

}

button {

    background-color:transparent;
    outline:none;
	display: inline-block;
	width: 25%;
	margin: 5px 0px 0px 0px;
	margin-left: 20%;
	padding: 8px 16px;
	text-align: center;
	font-size: 16px;
}

canvas{
	/* background: url("../Images/Mapresize.jpg"); */
	background: url("../Images/MapNy.png");
}

#SolenInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;

}

#MerkuriusInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}

#VenusInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#JordenInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#ISSInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#MarsInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#JupiterInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#SaturnusInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#UranusInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#NeptunusInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}
#PlutoInfo{
	visibility: hidden;
	position: absolute;
    top: 383px;
    left: 704px;
}

#SolenButton {
    background-color: transparent;
    left: 14px;
    top: 14px;
    margin: 0;
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    border-color: yellow;
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    opacity: 0.3;
	/* display: inline-block; */

}

#MerkuriusButton {
    background-color: transparent;
	left: 224px;
    top: 93px;
    margin: 0;
    width: 62px;
    height: 61px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(134, 134, 134);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    opacity: 0.3;
}
#VenusButton {
	background-color: transparent;
    left: 94px;
    top: 295px;
    margin: 0;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(179, 105, 56);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    /* display: inline-block; */
    opacity: 0.3;
}

#JordenButton {
	background-color: transparent;
    left: 279px;
    top: 261px;
    margin: 0;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(67, 79, 255);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    /* display: inline-block; */
    opacity: 0.3;
}

#ISSButton {
	background-color: transparent;
    left: 368px;
    top: 303px;
    margin: 0;
    width: 39px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(153, 153, 153);
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    opacity: 0.3;
}

#MarsButton {
    background-color: transparent;
    left: 414px;
    top: 190px;
    margin: 0;
    width: 69px;
    height: 72px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(228, 117, 26);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    opacity: 0.3;
}


#JupiterButton {
	background-color: transparent;
    left: 460px;
    top: 336px;
    margin: 0;
    width: 134px;
    height: 131px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(192, 129, 47);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    /* display: inline-block; */
    opacity: 0.3;
}


#SaturnusButton {
	background-color: transparent;
    left: 586px;
    top: 103px;
    margin: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(192, 129, 47);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    opacity: 0.3;
}


#UranusButton {
	background-color: transparent;
    left: 714px;
    top: 255px;
    margin: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(0, 247, 255);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    opacity: 0.3;
}

#NeptunusButton {
    background-color: transparent;
    left: 804px;
    top: 101px;
    margin: 0;
    width: 84px;
    height: 84px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(23, 148, 206);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    opacity: 0.3;
}


#PlutoButton {
    background-color: transparent;
    left: 898px;
    top: 68px;
    margin: 0;
    width: 52px;
    height: 52px;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(78, 78, 78);
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    opacity: 0.3;
}




/* 
document.onmousemove = function(e){
var x = e.pageX;
var y = e.pageY;
e.target.title = "X is "+x+" and Y is "+y;
};

för att kolla pixlar i debuggern

 */
